@import "app-variables";
@import "app-common";
.ns-dark ActionBar {
    background: #212121;
    color: white;
}

.ns-dark Page {
    background: black;
}

.ns-dark Button {
    color: white;
    border-color: #444444;
    border-width: 1;
    background-color: #222222;
}

.ns-dark .black {
    color: white;
}

.ns-light TabView {
    selected-tab-text-color: black;
    android-selected-tab-highlight-color: black;
}

.ns-dark TabView {
    selected-tab-text-color: #3d9be9;
    android-selected-tab-highlight-color: #3d9be9;
}

.ns-dark Tabs TabStrip {
    color: #3d9be9;
    highlight-color: #3d9be9;
}